server:
  port: ${SERVER_PORT:8503}
spring:
  datasource:
    url: jdbc:mysql://8.136.11.45:3306/ai_server?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 1qaz@1QAZ
    driverClassName: com.mysql.cj.jdbc.Driver
  profiles:
    active: rebuild
  application:
    name: ${APP_NAME:c2000-ai-server-metric}
  cloud:
    inetutils:
      preferred-networks: 172.29.118.31
    nacos:
      discovery:
        register-enabled: false
        ip: 172.29.113.222
        server-addr: ${NACOS_SERVER:172.29.118.31:18848}
        namespace: e1995979-5d92-4e40-b16a-92f8cb4be1a7
        enabled: false
        group: fhgl
        username: nacos
        password: 04076fa323dff459450c77cdb08fc625ba335df43ab457d75930ad3823b774d11e036bb392eb6d54aca32db19f80402a6db5feee777cfc6c208255431289477c5dc3bd8f803d09f23d9d4b44ce56a9f54957f92c8e40feac8f4ea2c05a2a6fb4ed931121c43011bc1b090e9b73ffb1eb52
      config:
        server-addr: ${spring.cloud.nacos.discovery.server-addr}
        namespace: ${spring.cloud.nacos.discovery.namespace}
        file-extension: yml
        enabled: false
        refresh-enabled: false
        import-check:
          enabled: false
        group: fhgl
        prefix: ${spring.application.name}
        username: nacos
        password: 04076fa323dff459450c77cdb08fc625ba335df43ab457d75930ad3823b774d11e036bb392eb6d54aca32db19f80402a6db5feee777cfc6c208255431289477c5dc3bd8f803d09f23d9d4b44ce56a9f54957f92c8e40feac8f4ea2c05a2a6fb4ed931121c43011bc1b090e9b73ffb1eb52
  config:
    import:
      - optional:nacos:${spring.application.name}-${spring.profiles.active}.yml
  main:
    allow-bean-definition-overriding: true

  ai:
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: never
            platform: mysql
            table-name: spring_ai_chat_memory
    openai:
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      api-key: sk-004003452efb4a148e60926868edcc71
      completions-path: /v1/chat/completions
      chat:
        model: qwen-plus
        max-tokens: 32768
        temperature: 0.1
        top-p: 0.5
        presence-penalty: 0.0
      multi:
        base-url: https://dashscope.aliyuncs.com/compatible-mode
        api-key: sk-004003452efb4a148e60926868edcc71
        completions-path: /v1/chat/completions
        model: qwen2.5-vl-32b-instruct
        max-tokens: 8192
        temperature: 0.7
        top-p: 0.9
        presence-penalty: 0.0

# agent与数据库交互模式
agent:
  config:
    type: direct # 可选值：feign, direct

# SQL初始化配置（使用自定义初始化服务，禁用默认Spring Boot初始化）
sql:
  init:
    enabled: true
    tables-dir: sql/tables



